<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Organizer.Settings.Organizer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Organizer.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Organizer.Settings.Organizer>
            <setting name="MySqlConnectionString" serializeAs="String">
                <value>server=127.0.0.1; port=3306;database=Organizer;user=root;password=admin;</value>
            </setting>
        </Organizer.Settings.Organizer>
        <Organizer.Settings.Settings>
            <setting name="MySqlConnectionString" serializeAs="String">
                <value>"server=127.0.0.1; port=3306;database=Organizer;user=root;password=admin"</value>
            </setting>
        </Organizer.Settings.Settings>
    </userSettings>
</configuration>